data:
  test_size: 0.2
  random_state: 42


model:
  name: xgboost
  params:
    n_estimators: 500
    learning_rate: 0.05
    max_depth: 6
    subsample: 0.8
    colsample_bytree: 0.8
    objective: 'binary:logistic'
    eval_metric: 'logloss'
    early_stopping_rounds: 50
    n_jobs: -1
