name: "Code Check"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements_dev.txt
          pip install -e .

      - name: Run Ruff (Linting)
        run: |
          ruff check .

      - name: Run Ruff (Formatting)
        run: |
          ruff format --check .

      - name: Run Mypy (Type checking)
        run: |
          mypy .
