name: Check staged model

on:
  repository_dispatch:
    types: staged_model

jobs:
  identify_event:
    runs-on: ubuntu-latest
    outputs:
      model_name: ${{ steps.set_output.outputs.model_name }}
    steps:
      - name: Check event type
        run: |
          echo "Event type: repository_dispatch"
          echo "Payload Data: ${{ toJson(github.event.client_payload) }}"
      - name: Setting model environment variable and output
        id: set_output
        run: |
          echo "model_name=${{ github.event.client_payload.artifact_version_string }}" >> $GITHUB_OUTPUT

  test_model:
    runs-on: ubuntu-latest
    needs: identify_event
    env:
      WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
      #WANDB_ENTITY: ${{ secrets.WANDB_ENTITY }}
      WANDB_PROJECT: ${{ secrets.WANDB_PROJECT }}
      MODEL_NAME: ${{ needs.identify_event.outputs.model_name }}
    steps:
      - name: Echo model name
        run: |
          echo "Model name: $MODEL_NAME"

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
          cache: 'pip'
          cache-dependency-path: setup.py

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest
          pip install -e .
          pip list

      - name: Auth with GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Pull data with DVC
        run: |
          dvc pull --no-run-cache

      - name: Test model
        run: |
          pytest tests/performancetests/test_model.py

  add_production_alias:
    runs-on: ubuntu-latest
    needs: [identify_event, test_model]
    env:
      WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
      #WANDB_ENTITY: ${{ secrets.WANDB_ENTITY }}
      WANDB_PROJECT: ${{ secrets.WANDB_PROJECT }}
      MODEL_NAME: ${{ needs.identify_event.outputs.model_name }}
    steps:
      - name: Echo model name
        run: |
          echo "Model name: $MODEL_NAME"

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
          cache: 'pip'
          cache-dependency-path: setup.py

      - name: Install dependencies
        run: |
          #pip install -r requirements.txt
          pip install -e .
          pip install wandb typer
          pip list

      - name: Debug project import
        run: |
          python -c "import sys; print(sys.path)"
          python -c "import project99; print('project99 loaded from:', project99.__file__)"
          python -c "from project99.data import tennis_data; print('tennis_data import OK')"

      - name: Add production alias
        run: |
          python link_model.py "$MODEL_NAME" --alias production
