# Core ML Libraries
numpy
torch
pandas
scikit-learn
xgboost
scipy

# Configuration & MLOps
hydra-core
omegaconf
datasets
huggingface_hub

# Visualization
matplotlib

# API & Web 
fastapi
uvicorn
requests

# Utilities
tqdm
PyYAML
